@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      @apply antialiased flex h-full bg-gray-100;
       width: 100%;
      height: 100%;
    }
  
    body {
      width: 100%;
      height: 100%;
      font-family: "Roboto", sans-serif;
       background-color: transparent !important;
       @apply text-base;
    }
  
    #__next{
      display: flex;
      width: 100%;
      height: 100%;
    }
  
    a:hover {
      @apply text-black dark:text-white;
    }
  
    h1 {
      @apply text-4xl;
    }
  
    h2 {
      @apply text-2xl;
    }
  
    h5 {
      @apply text-3xl;
    }
  
    h6 {
      @apply text-lg;
    }
  
    .container-custom {
      @apply 2xl:w-[1440px] xl:w-11/12 lg:w-full w-full px-2 mx-auto block;
    }
  
    svg {
        display: inline!important;
        vertical-align: middle!important;
    }
    .default-cart-bg{
      @apply bg-white dark:bg-dark rounded-lg p-6 shadow-xl
    }
    .default-cart-bg-hover{
      @apply bg-white  dark:bg-dark rounded-lg p-6 shadow-xl hover:-mt-4 transition-all hover:mb-4
    }
  
  
  
    .default-cart-title{
      @apply text-primary font-bold float-left text-2xl
    }
    .blue-button {
      @apply text-white text-sm my-2 border-primary border !bg-primary to-primary hover:bg-gradient-to-r active:bg-gradient-to-r focus:bg-gradient-to-r hover:from-primary hover:to-orange-700 active:from-orange-700 active:to-primary focus:from-orange-700 focus:to-primary cursor-pointer text-center;
    }
    .blue-button:disabled {
      @apply hover:!text-gray-400 bg-gradient-to-r from-gray-300 to-gray-300 dark:from-gray-800 dark:to-gray-900 border dark:border-gray-900 border-gray-900 cursor-not-allowed;
    }
  
  }

